    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    
    body {
        background-color: rgb(255, 255, 255);
    }
    
    .cabecalho {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 24px;
        background-color: #000000;
    }
    
    .cabecalho-menu {
        display: flex;
        align-items: center;
        gap: 64px;
    }
    
    .cabecalho-menu-item {
        font-family: 'Heebo';
        color: #ffffff;
        font-weight: bold;
        font-size: 20px;
        transition: 1000ms;
        border-radius: 0;
        border-bottom: 3px solid rgba(0, 0, 0, 0);
    }
    
    .cabecalho-menu-item:hover {
        border-color: #EB7100;
        border-radius: 0;
        padding-bottom: 3px;
        padding-top: 3px;
        transition: 1000ms;
    }
    
    .section_1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 50vw;
    }
    
    .section_1_div_1 {
        align-items: center;
        display: contents;
    }
    
    #foto_user {
        background-image: url("../img/foto_user_3.png");
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        min-width: 15vw;
        min-height: 15vw;
        justify-content: center;
    }
    
    .title_2 {
        padding-top: 2vw;
        animation-duration: 3s;
        animation-name: slidein;
        font-size: 50px;
        font-family: 'Fira Mono';
        text-align: center;
    }
    
    .sub-title_1 {
        animation-duration: 4s;
        animation-name: slidein_2;
        font-size: 32px;
        font-family: 'Heebo';
        text-align: center;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
    
    @keyframes slidein {
        from {
            margin-left: 100%;
            width: 300%;
        }
        to {
            margin-left: 0%;
            width: 100%;
        }
    }
    
    @keyframes slidein_2 {
        from {
            margin-right: 100%;
            width: 300%;
        }
        to {
            margin-right: 0%;
            width: 100%;
        }
    }
    
    .button_home {
        padding-top: 2vw;
    }
    
    .button_Next_Page {
        border-radius: 20px;
        background-color: #EB7100;
        padding: 16px 64px 16px 64px;
        font-weight: bolder;
        font-size: 24px;
        font-family: 'Heebo';
        text-decoration: none;
        border: none;
        transition: background-color 0.5s ease, color 0.5s ease;
        color: black;
    }
    
    .button_Next_Page:hover {
        background-color: #633000;
        color: #ffffff;
    }
    
    .button_Next_Page:active:hover {
        background-color: #f08c2f;
        color: #000;
    }
    
    .redes_socias {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        gap: 20px;
        padding-left: 50px;
    }
    
    .icons {
        text-decoration: none;
        color: #EB7100;
    }
    
    .section_2 {
        background-color: #000000;
        min-height: 50vw;
        display: flex;
        flex-direction: column;
        padding: 0 200px;
    }
    
    .section_2_div_2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .section_2_div_3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
    }
    
    .section_2_div_4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
    }
    
    .title_3 {
        color: #ffffff;
        font-family: 'Fira Mono';
        font-size: 64px;
        text-align: center;
        padding-top: 64px;
    }
    
    .sub_titles_section_2 {
        display: flex;
        gap: 40vw;
        padding-top: 7vw;
        padding-bottom: 128px;
    }
    
    #Nome_projeto {
        color: yellow;
        font-size: 28px;
        font-family: 'Heebo';
        font-weight: bold;
        padding-top: 3vw;
    }
    
    .fotos_projetos {
        display: flex;
        flex-direction: row;
        gap: 650px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    .button_esq_ver_projeto {
        border-radius: 20px;
        background-color: #0077ff;
        padding: 8px 74px 8px 74px;
        font-weight: bolder;
        font-size: 24px;
        font-family: 'Heebo';
        text-decoration: none;
        border: none;
        transition: background-color 0.5s ease, color 0.5s ease;
        margin-top: 50px;
    }
    
    .button_esq_ver_projeto:hover {
        background-color: #00389a;
        color: #ffffff;
    }
    
    .button_esq_ver_projeto:active:hover {
        background-color: #00ff37;
        color: #000;
    }
    
    .button_dir_ver_projeto {
        border-radius: 20px;
        background-color: #0077ff;
        padding: 8px 74px 8px 74px;
        font-weight: bolder;
        font-size: 24px;
        font-family: 'Heebo';
        text-decoration: none;
        border: none;
        transition: background-color 0.5s ease, color 0.5s ease;
        margin-top: 50px;
    }
    
    .button_dir_ver_projeto:hover {
        background-color: #ff7b00;
        color: #ffffff;
    }
    
    .button_dir_ver_projeto:active:hover {
        background-color: #f10000;
        color: #000;
    }
    
    .section_3 {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 50vw;
        padding-top: 65px;
    }
    
    .title_4 {
        color: #000000;
        font-family: 'Fira Mono';
        font-size: 64px;
    }
    
    .texto_1 {
        font-family: 'Heebo';
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        line-height: 3em;
        background-color: rgba(255, 123, 0, 0.66);
        border: 10px solid black;
        margin-top: 80px;
        margin-bottom: 60px;
    }
    
    .texto_projetos {
        font-family: 'Heebo';
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
    }
    #texto1{
    margin-top: 25px;
    }



    .simbolos_linguagens {
        display: flex;
        gap: 64px;
        padding-bottom: 60px;
    }
    
    .linha {
        border: 4px solid rgb(0, 0, 0);
        width: 800px;
    }

    .section_4{
        background-color: #000;
        display: flex;
        justify-content: center;
        min-height: 50vw;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: top;
    }

    .title_section_4{
        color: #ffffff;
        font-family: 'Fira Mono';
        font-size: 64px;
        text-align: center;
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .form{
        background-color: #EB7100;
        padding: 20px;
    }

    .label{
       color:white;
    }

    .input{
        background-color: #57c80b;
        height: 30px;
        width: 250px;   
        border: none;
        color:rgb(255, 0, 0);
    }